h2 {
	color: var(--color-text);
	text-transform: uppercase;
}

/*HERO*/
#hero .column {
	position: relative;
    z-index: 10;
}
#hero h1 span {
	font-weight: 900;
	line-height: inherit;
}
.primary-highlight {
	color: var(--color-primary);
}
.secondary-highlight {
	color: var(--color-secondary);
}

#hero .img-container img {
	position: relative;
	z-index: 10;
}

.img-tooltip {
	background-color: var(--color-secondary);
	width: fit-content;
	padding: 1.2em 1.5em;
	border-radius: 1em;
	position: absolute;
	bottom: 3em;
	z-index: 20;
}
.img-tooltip span {
	color: var(--color-white);
	font-size: 1.5em;
}
.tooltip-pointer {
	width: 30px;
	aspect-ratio: 1/1;
	background-color: var(--color-secondary);
	position: absolute;
	top: 1.8em;
	right: -1.5em;
	clip-path: polygon(0 30%, 110% 30%, 0 100%);
	z-index: 15;
}

.decorative.round {
	width: 500px;
	aspect-ratio: 1/1;
	background-color: var(--color-accent);
	border-radius: 250px;
	position: absolute;
	top: -5em;
    right: -15em;
    scale: 2.5;
    box-shadow: 0px 15px 30px 0px rgba(70,100,4,0.15);
}

section.three-column-section {
	padding: 0;
	margin-top:-3em;
}
.three-column-section .column {
	display: block;
}
.three-column-section .blurb,
#about .blurb {
	background-color: var(--color-white);
	box-shadow: 0px 15px 30px 0px rgba(70,100,4,0.15);
	border-radius: 1em;
	padding: 2em;
	flex-direction: row;
	align-items: center;
    justify-content: center;
    gap: 1.5em;
}
#about .blurb {
	background-color: transparent;
	box-shadow: 0px 15px 30px 0px rgba(70,100,4,0);
	border-radius: 0;
	padding: 0;
    justify-content: flex-start;
}
.blurb .img-icon {
	max-width: 60px;
	max-height: 56px;
}
.three-column-section .blurb .title {
	color: var(--color-text);
}
.three-column-section .blurb .btn-container {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.8em;
}
.three-column-section .blurb .material-icons.round {
	margin-bottom: 0;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 1.5em;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about .blurbs {
	max-width: 450px;
	display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
    position: relative;
    z-index: 20;
}
#about .blurb .material-icons.round {
	margin-bottom: 0;
	color: var(--color-primary);
	background-color: transparent;
	border: 0.1em solid var(--color-accent);
}
#about .blurb .title, 
#about .blurb .description {
	color: var(--color-text);
	font-family: var(--font-text);
	font-weight: 700;
}

section#about {
	position: relative;
	z-index: 20;
}
section#about .column:has(.img-container) {
	position: relative;
}
section#about img {
	position: relative;
	z-index: 20;
}

.decorative.shadow {
	width: 500px;
	aspect-ratio: 1/1;
	background-color: var(--color-accent);
	border-radius: 50%;
	position: absolute;
	bottom: -9em;
    right: -7em;
    scale: 1.65;
    z-index: 1;
}

section#chef {
	position: relative;
	background-color: var(--color-accent);
	z-index: 30;
}
.chef-img {
	position: absolute;
	bottom: 0;
	z-index: 20;
}
.chef-img img {
	margin-bottom: -3px;
}
.decorative.background {
	width: 500px;
	aspect-ratio: 1/1;
	background-color: var(--color-primary);
	position: absolute;
	top: 18.8em;
    left: 18.5em;
    scale: 2.2;
    z-index: 1;
    clip-path: ellipse(145px 145px at 20% 20%);
}

.leaves-img {
	position: absolute;
	bottom: 0;
	right: 0;
}
section#blogs {
	background: url('../assets/blog-bg.webp');
	background-position: bottom center;
	background-repeat: no-repeat; 
 	background-size: cover;
}
section#blogs .img-container img {
	border-radius: 2em;
}
section#blogs .img-container {
	cursor: pointer;
}

footer .col-4:nth-child(3) {
	justify-content: center;
}
footer .col-4:nth-child(2),
footer .col-4:nth-child(4) {
	justify-content: flex-end;
}
footer a:hover {
	color: var(--color-secondary);
}

#footer-logo a {
	display: block;
	margin-bottom: 0.25em;
}
#footer-logo a, #footer-logo span {
	font-size: 2.5vw;
	line-height: 1em;
}
.footer-caption {
	font-weight: 400;
}
footer p {
	margin-bottom: 0;
}

footer ul {
	list-style-type: none;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 0.25em;
	flex-direction: column;
}

.footer-bottom {
	background-color:var(--color-primary);
}
.footer-bottom .column {
	margin: auto 0;
}
.footer-bottom .column:nth-child(1) p {
	text-align: left;
}
.footer-bottom .column:nth-child(2) {
	display: flex;
	justify-content: flex-end;
	gap: 1em;
}
.footer-bottom .column:nth-child(2) i.fab {
	padding: 0.5rem;
	background-color: var(--color-white);
	color: var(--color-primary);
	width: 34px;
	height: 34px;
	border-radius: 50%;
	text-align: center;
	transition: 0.3s all;
}
.footer-bottom .column:nth-child(2) i.fab:hover {
	scale: 1.1;
	color: var(--color-secondary);
}