/*COLOR PREFERENCES*/

/*Header background*/
header { background-color: transparent; }

/*Logo color*/
#logo, #logo a, #footer-logo, #footer-logo a { color: var(--color-primary); font-weight: 900; }
.logo-highlight { color: var(--color-secondary); font-weight: 900; }
#logo, #logo a:hover, .logo-highlight:hover,
#footer-logo, #footer-logo a:hover, .logo-highlight:hover { color: var(--color-black); }

/*Menu link color*/
#nav a { color: var(--color-black); font-weight: 700; text-transform: uppercase; }
#nav a:hover { color: var(--color-secondary); }

#nav a.active { color: var(--color-primary); font-weight: 900; }

header {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 90;
}

header.fixed {
  width: 100%;
  position: fixed;
  top: 0;
}

header.outer-shadow {
  box-shadow: 0px 5px 30px 0 rgba(70, 100, 4, .1);
}

header #header {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  max-width: 80%;
  width: 100%;
  padding: 1em 2em;
  border-radius: 0.7em;
  box-shadow: 0 15px 30px 0 rgba(70, 100, 4, .1);
  position: relative;
}
  #header #logo {
    flex: 2;
  }
    #logo a, .logo-highlight {
      font-family: var(--font-heading);
      font-size: 2vw;
      font-weight: bold;
      text-decoration: none;
      text-transform: capitalize;
    }
  #header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    flex: 4;
  }

.nav { 
  overflow: hidden; 
}
.nav.nav--open {
  top: 0;
}

#menu-toggle {
  display: none; 
}

.menu-toggle__bar1, .menu-toggle__bar2, .menu-toggle__bar3 {
  width: 21px;
  height: 3px;
  background-color: var(--menu-toggle__bar, #000000);
  margin: 4px 0;
  transition: 0.3s; 
}
.menu-toggle--open .menu-toggle__bar1 {
  transform: translate(0, 7px) rotate(-45deg); 
}
.menu-toggle--open .menu-toggle__bar2 {
  opacity: 0; 
}
.menu-toggle--open .menu-toggle__bar3 {
  transform: translate(0, -7px) rotate(45deg); 
}

.search-container {
  margin-left: 2.5em;
}
.search-container .material-icons.round {
  padding: 0.5em;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: 0.3s all;
}
.search-container .material-icons.round:hover {
  color: var(--color-black);
  background-color: var(--color-accent);
}

@media screen and (max-width: 1115px) {
  #logo a, #logo a .logo-highlight { 
    font-size: 4vw;
  }
  #header nav {
    flex: 3;
  }
  .nav a {
    display: none; 
  }
  a#menu-toggle {
    float: right;
    display: block; 
    margin: auto;
    background-color: var(--color-secondary);
    padding: 0.7em 0.8em;
    border-radius: 3em;
  } 
  .nav.nav--open {
    position: absolute;
    top: 6.3em;
    right: 0;
    z-index: 999;
    padding: 1.5em;
    flex-direction: column;
    row-gap: 1.2em !important;
    background-color: var(--color-white);
    border-radius: 1em;
    box-shadow: 0 15px 30px 0 rgba(70, 100, 4, .1);
    transform: scale(0);
    transition: 0.3s all;
  }
  .nav.nav--open #menu-toggle {
    position: absolute;
    right: 0;
    top: 0; 
  }
  .nav.nav--open a {
    float: none;
    display: block;
    text-align: left; 
    margin: 0;
  }

  .search-container {
    margin-left: 1em;
  }
}