/** HERO 2 **/ 
#hero {
	background-color: #f1f1f1;
	background: url(../resources/hero.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	box-shadow: inset 0px 10px 70px 30px var(--dark);
	padding-bottom: 0;
}
#hero .row {
	padding: 90px 0 0px;
}
#hero h1 {
	color: var(--light);
}
h1 .header_highlight {
	color: var(--color1);
}
#hero .hero_boxes {
	padding-top: 150px;
	margin-bottom: -110px;
	max-width: 1000px;
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
}
.hero_boxes .column {
	text-align: center;
	max-width: 25%;
	padding: 25px;
	background-color: var(--color3);
	color: var(--light);
	flex: 1;
}
.hero_boxes .column:nth-child(2) {
	background-color: var(--color1);
	color: var(--dark);
	max-width: 28%;
	padding: 50px 25px;
	flex: 2;
}
.hero_boxes h3 {
	margin-bottom: 15px;
}
.hero_boxes p {
	line-height: 1.6em;
	font-size: 1rem;
}
.hero_boxes .column:nth-child(2) p {
	font-weight: 500;
}

/** SECTION 2 **/ 
#section_2 {
	color: var(--light);
	background-color: #f1f1f1;
	background: url(../resources/section2.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	box-shadow: inset 0px 10px 70px 30px var(--dark);
}
#section_2 .row {
	margin-top: 90px;
	display: flex;
	align-items: center;
	gap: 30px;
}
#section_2 h2 {
	margin-bottom: 15px;
}
#section_2 p {
	margin-bottom: 30px;
}
#section_2 #contact_form h3 {
	font-size: 2em;
	color: var(--color1);
}

/** SECTION 3 **/
#section_3 {
	background-color: var(--color3);
	display: flex;
    flex-direction: column;
    gap: 60px;
} 
#section_3 h2,
#section_3 .column {
	color: var(--light)
}
#section_3 .col_30 {
	background-color: #00000050;
	padding: 0 0 45px;
	position: relative;
}
.blog_blurb .blog_link {
    position: absolute;
    bottom: 15px;
}
#section_3 .row:has(> .col_30) {
	gap: 3.5em;
}
#section_3 .row:last-child {
	display: flex;
}

/** SECTION 4 **/
#section_4 {
	background: url(../resources/s3img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 10px 70px 30px var(--dark);
}
#section_4 .row {
	align-items: center;
}
#section_4 h2 {
	color: var(--light);
}
#section_4 .tel_link {
	color: var(--color2);
	font-size: var(--h2-fs-desktop);
    font-weight: 900;
    line-height: 1.2em;
}
#section_4 .col_50:nth-child(1) {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#section_4 .col_50:nth-child(2) {
	background-color: rgba(255,255,255,0.7);
	padding: 30px;
}

/** SECTION 5 **/
#section_5 {
	background: url(../resources/s5img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 10px 70px 30px var(--dark);
}
#section_5 .row {
	align-items: center;
	gap: 90px;
}
#section_5 h2,
#section_5 p {
	color: var(--light);
    margin-bottom: 15px;
}
#section_5 .s5img2 {
	clip-path: 
	polygon(
		0% 0%,     /* top left */
		0% 0%,     /* top left */
		95% 0%,    /* top right */
		100% 5%,   /* top right */
		100% 100%,  /* bottom right */
		100% 100%,  /* bottom right */
		5% 100%,   /* bottom left */
		0 95%      /* bottom left */
	);
}
#section_5 .blurbs {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 30px;
}
#section_5 .blurb_icon img {
	width: 70px;
}
#section_5 .blurb_body {
	color: var(--light);
}

/** SECTION 6 **/
#section_6 {
	background-image: linear-gradient( var(--color3) , var(--dark) );
	box-shadow: inset 0px 10px 70px 30px var(--dark);
	display: flex;
	flex-direction: column;
	gap: 30px;
}
#section_6 h2 {
	text-align: center;
}
#section_6 .row:nth-child(2) {
	background-color: rgba(2,2,2,0.3);
	color: var(--light);
}
#section_6 .row:nth-child(2) .col_50:nth-child(1) {
	padding: 45px;
}
#section_6 .testimonial_image {
	background: url(../resources/s6img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/** FOOTER **/
#footer {
	background-color: var(--color3);
}
#footer .logo_link {
	display: block;
	margin-bottom: 25px;
}
#footer p {
	color: var(--light);
}
#footer .social_container {
	display: flex;
	gap: 12px;
	margin-top: 25px;
}
#footer .col_25:nth-child(2) {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	align-content: center;
}
#footer h3 {
	text-transform: uppercase;
	color: var(--color1);
	font-weight: 500;
	margin-bottom: 15px;
}
#footer .col_25:nth-child(2) .quick_link {	
	display: block;
	margin-bottom: 5px;
}
#footer .col_25:nth-child(3) .quick_link {	
	display: block;
	margin-bottom: 23px;
}
#footer .col_25:nth-child(3) .quick_link:last-child {
	margin-bottom: 0;
}
#footer .col_25:last-child p {
	display: block;
	margin-bottom: 25px;
}
#footer .col_25:last-child form {
	display: flex;
	flex-direction: column;
	gap:15px;
}
#footer .col_25:last-child form input[type='submit'] {
	font-size: 1em;
	padding: 10px;
	border: none;
	background-color: var(--color2);
	font-weight: 500;
	cursor: pointer;
}


/** RESPONSIVE **/

@media (max-width: 1279px) {
	.inline_elements {
		flex-direction: column;
	}
}

@media (max-width: 1120px) {
	#section_3 .row:has(> .col_30) {
	    flex-direction: column;
	    align-items: center;
	}
	#section_3 .col_30 {
		width: 500px;
    	min-width: 100%;
	}
	#section_5 .row {
		flex-direction: column-reverse;
		gap: 60px;
	}
	#section_5 .column {
		width: auto;
		text-align: center;
	}
	#section_5 .col_50:nth-child(2) {
		display: flex;
		flex-direction: column;
    	align-items: center;
    	max-width: 800px;
	}
	#section_5 .blurbs {
		text-align: left;
		max-width: 700px;
		align-items: center;
	}
	#footer .row {
		flex-direction: row;
		align-items: center;
    	justify-content: center;
		gap: 45px;
		flex-wrap:wrap
	}
	#footer .col_25:first-child {
		width: 90%;
		text-align: center;
	}
	#footer .social_container {
		justify-content: center;
	}
	#footer .col_25:nth-child(2), {
    	width: 15%;
    	align-content: flex-start;
	}
	#footer .col_25:nth-child(3),
	#footer .col_25:last-child {
    	width: 30%;
	}
}
@media (max-width: 1020px) {
	#section_2 .row {
		flex-direction: column;
		gap: 60px;
	}
	#section_2 .column {
		width: 100%;
	}
	.inline_elements {
		flex-direction: row;
	}
	#section_6 .column {
		width: auto;
	}
	#section_6 .row:nth-child(1) {
		justify-content: center;
	}
	#section_6 .row:nth-child(2) {
		flex-direction: column;
		max-width: 800px;
	}
	#section_6 .testimonial_image {
		height: 300px;
	}
}
@media (max-width: 980px) {
	#section_4 .row {
		flex-direction: column;
		gap: 30px;
	}
	#section_4 .column {
		width: auto;
	}
	#section_4 .column p {
		text-align: center;
	}
}
@media (max-width: 767px) {
	#hero .row {
		padding-top: 0;
	}
	#hero .hero_boxes {
		padding-top: 90px; 
    	flex-direction: column;
    	gap: 0;
	}
	.hero_boxes .column {
		max-width: 70%;
	}
	.hero_boxes .column:nth-child(2) {
		max-width: 80%;
		padding: 30px 25px;
	}
	#section_3 .row:has(> .col_50) {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	#section_3 .col_50 {
		width: 100%;
	}
	#section_3 .row:has(> .col_30) {
		flex-direction: column;
		justify-content: center;
    	align-items: center;
	}
	#section_3 .col_30 {
		width: 70%;
	}
	#footer .col_25:nth-child(2),
	#footer .col_25:nth-child(3) {
		width: 45%;
		text-align: center;
	}
	#footer .col_25:last-child {
		width: 80%;
		text-align: center;
	}
}

@media (max-width: 560px) {
	#section_2 .inline_elements {
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	#hero {
	    background-position: center left;
	}
	#hero .column {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	#hero .hero_boxes {
		padding-top: 45px; 
	}
	.multi_buttons {
	    width: 100%;
    	align-items: center;
	}
	#section_3 .col_30 {
		width: 100%;
	}
	#section_4 .tel_link {
	    font-size: 12vw;
	}
	#section_5 .blurbs {
		gap: 45px;
	}
	#section_5 .blurb_container {
		flex-direction: column;
	}
	#section_5 .blurb_text {
		text-align: center;
	}
	#section_6 .row:nth-child(2) {
	    background-color: rgba(2,2,2,0);
		gap: 45px;
	}
	#section_6 .row:nth-child(2) .col_50:nth-child(1) {
		padding: 0px;
	}
}