:root {
	--color1: #ffcb38;
	--color2: #ff9935;
	--color3: #1b1b1b;
	--color4: #020202;
	--light: #ffffff;
	--dark: #000000;

	--h1-fs-desktop: 3.5rem;
	--h1-fs-tablet: 3rem;
	--h1-fs-mobile: 2.5rem;

	--h2-fs-desktop: 3.125rem;
	--h2-fs-tablet: 2.75rem;
	--h2-fs-mobile: 2.125rem;

	--hover-transition: all 0.3s;
}

* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }

body { overflow-x: hidden; line-height: 1.6em; }

h1 { font-size: var(--h1-fs-desktop); font-weight: 900; line-height: 1.2em; color: var(--light); }
h2 { font-size: var(--h2-fs-desktop); font-weight: 900; line-height: 1.2em; color: var(--light); }
h3 { line-height: 1.2em; }
p, a, .column { font-size: 1.125rem; font-weight: 400; }

@media (max-width: 1280px) and (min-width: 768px) {
	h1 { font-size: var(--h1-fs-tablet); }
	h2 { font-size: var(--h2-fs-tablet);}
}

@media (max-width: 767px) and (min-width: 601px) {
	h1 { font-size: var(--h1-fs-mobile); }
	h2 { font-size: var(--h2-fs-mobile);}
	p, a, .column { font-size: 1.125rem; }
}

@media (max-width: 600px) {
	h1 { font-size: var(--h1-fs-mobile); }
	h2 { font-size: var(--h2-fs-mobile);}
	p, a, .column { font-size: 1rem; }
}

}
h1 { font-size: var(--h1-fs-desktop); font-weight: 900; }

a { text-decoration: none; color: var(--light); }

img {
	width: 100%;
}

section { padding: 90px 0; }
.row { display: flex; margin: 0 auto; max-width: 1200px; width: 80%; }
.column { width: 100%; }
.col_70 { width: 70%; }
.col_50 { width: 50%; }
.col_30 { width: 30%; }
.col_33 { width: 33%; }
.col_25 { width: 25%; }


/** CUSTOM ELEMENTS **/
.material-symbols-outlined {
	color: var(--color2);
}
.icons_color1 {
	color: var(--color1);
}
.br_text {
	display: block;
}

svg.social_icons {
	fill: var(--color3);
	height: 1.5em;
	width: 1.5em;
	background-color: var(--color1);
	padding: 3px;
	border-radius: 50px;
	transition: var(--hover-transition);
}
svg.social_icons:hover {
	border-radius: 5px;
	background-color: var(--color2);
}

.inline_elements,
.multi_buttons {
	margin-top: 25px;
	margin-bottom: 30px;
	display: flex;
	gap: 30px;
}
.multi_buttons {
    margin-left: 15px;
}
.button_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	transform: skew(25deg);
	background-color: var(--color2);
	border: 3px solid var(--color2);
	margin-left: 15px;
	transition: var(--hover-transition);
}
.button_container a,
.button_container input[type='submit'] {
	color: var(--color3);
	font-weight: 500;
	font-size: 1em;
    text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	padding: 7px 25px;
	transform: skew(-25deg);
	cursor: pointer;
	transition: var(--hover-transition);
}
.button_container:hover {
	transform: skew(-25deg);
	background-color: var(--color1);
	border: 3px solid var(--color1);
}
.button_container:hover a,
.button_container:hover input[type='submit'] {
	transform: skew(25deg);
}
.button_transparent {
	background-color: rgba(0,0,0,0.3);
	border: 3px solid var(--color1);
}
.button_transparent a {
	color: var(--light);
}
.button_transparent a:hover {
	color: var(--dark);
}
.submit_button {
	color: var(--color3);
	font-weight: 500;
	letter-spacing: 0.5px;
	padding: 7px 20px;
	transform: skew(-25deg);
	transition: var(--hover-transition);
}

.blurb_container {
	display: flex;
	align-items: center;
	gap: 25px;
}
.blurb_icon img {
	min-width: 50px; 
}
.blurb_title {
	color: var(--color1);
	font-weight: 500;
	text-transform: uppercase;
}

.subheading {
	display: block;
	text-transform: uppercase;
	color: var(--color1);
	font-weight: 500;
	margin-bottom: 15px;
}

/** BLOG **/
.blog_blurb {
	/** background-color: #00000050; **/
}
.blog_image img {
	width: 100%;
}
.blog_blurb .blog_title {
	margin-bottom: 10px;
	font-weight: 500;
}
.blog_blurb .blog_link {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	color: var(--color1);
	text-transform: uppercase;
	font-weight: 500;
}

.blog_blurb .blog_text {
	padding: 1em;
}

.testimonial_author {
	color: var(--color1);
	font-size: 1.125em;
	margin-top: 15px;
}
.testimonial_icon {
	position: relative;
}
.testimonial_icon img {
	width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/** FORM **/
form#contact_form {
	display: flex;
	background-color: #1b1b1bd1;
	padding: 50px;
	flex-direction: column;
	gap: 25px;
	clip-path: 
	polygon(
		0% 0%,     /* top left */
		0% 0%,     /* top left */
		95% 0%,    /* top right */
		100% 5%,   /* top right */
		100% 100%,  /* bottom right */
		100% 100%,  /* bottom right */
		5% 100%,   /* bottom left */
		0 95%      /* bottom left */
	);
}
input[type='text'],
input[type='email'],
textarea {
	padding: 12px;
}
textarea {
	min-height: 100px;
	max-width: 100%;
}
input[type='text']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
	font-size: 1rem;
	color: var(--color3);
}

/** TOP HEADER **/
#top_header {
	padding: 10px 0;
	background-color: var(--color3);
	color: var(--light);
}
#top_header .col_70 {
    display: flex;
    gap: 30px;
}
#top_header .col_30 {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}
.top_header_links {
	display: flex;
    align-items: center;
    gap: 15px;    
    text-align: center;
	transition: var(--hover-transition);
}
.top_header_links:hover {
	color: var(--color2);
}

/** HEADER **/
#header {
	 background-color: var(--color4);
	 padding: 30px 0;
}
#header .column {
	display: flex;
	align-items: center;
}
#header .col_70 {
	justify-content: flex-end;
}
.logo_link {
	text-transform: uppercase;
	color: var(--light);
	font-size: 48px;
	font-weight: 900;
	transition: var(--hover-transition);
}
.logo_link:hover {
	letter-spacing: 0.5px;
}
.logo_link span{
	color: var(--color1);
}

/** NAVIGATION MENU **/
#primary_nav {
    display: flex;
    align-items: center;
	gap: 60px;
	z-index: 99;
}
#menu {
	list-style-type: none;
    display: flex;
	gap: 30px;
}

#menu li a {
	text-transform: uppercase;
	font-weight: 500;
	transition: var(--hover-transition);
}
#menu li a:hover {
	color: var(--color1);
}
.mobile_nav_toggle {
	display: none;
	width: 40px;
	fill: var(--light);
	border: none;
	background-color: transparent;
	aspect-ratio: 1;
	cursor: pointer;
	z-index: 999;
}
svg.menu_icon {
	transition: .3s ease;
}
.screen_reader_only {
	display: none;
}

/** MEQIA QUERY **/

/* MOBILE MENU */
@media (max-width: 1307px) {
	.mobile_nav_toggle {
		display: flex;
	}
	#primary_nav {
		align-items: center;
	    gap: 30px;
	    flex-direction: column;
	    background-color: var(--dark);
	    background-color: rgba(0,0,0,.7);
	    backdrop-filter: blur(0.3rem);
	    position: fixed;
	    padding: 30px 120px 30px 20px;
	    top: 0;
	    right: 0;
	    height: 100%;
	    transition: .3s ease;
	}
	#menu {
	    flex-direction: column;
	    margin-top: 170px;
	}
	#primary_nav .button_container {
		margin-left: 30px;
	}

	#primary_nav[data-visible="false"]{
	    transform: translateX(100%);
	}
	#primary_nav[data-visible="true"]{
	    transform: translateX(0%);

	}
}

/* TOP HEADER */
@media (max-width: 830px) {
	#top_header .row {
		flex-direction: column;
		align-items: center;
		gap: 15px; 
	}


	#top_header .column {
		width: 100%;
	}

	#top_header .col_70 {
	    gap: 12px;
	    flex-direction: column;
	    align-items: center;
	}

	#top_header .col_30 {
	    justify-content: center;
	}
}

@media (max-width: 647px) {
	.multi_buttons {
		width: 70%;
    	margin: 30px 0;
	    display: flex;
	    flex-direction: column;
	    gap: 15px;

	}
	.button_container {
		margin-left: 0;
	}
	.button_container a {
		min-width: 200px;
	}
}

/* HEADER LOGO */
@media (max-width: 500px) {
	.logo_link {
		font-size: 10vw;
	}
	.mobile_nav_toggle {
		width: 10vw;
	}
	form#contact_form {
		padding: 30px;
	}
}

@media (max-width: 382px) {
	.top_header_links {
		gap: 0;
	}
	.top_header_links .material-symbols-outlined {
		display: none;
	}
}